.perk-box {
   text-align: center;

   &-top {
      width: 100%;
   }

   &-img {
      margin-bottom: 35px;
   }

   &-title {
      color: #262626;
      font-size: 20px;
      font-weight: 500;
      font-family: 'Raleway', sans-serif;
      margin: 0 0 27px 0;
      line-height: 0.8;
   }

}