.services {
   background-color: #272727;

   .header {
      padding-top: 100px;
   }

   .subtitle--light {
      padding-bottom: 100px;
   }


   &-item:nth-child(1) {
      .services-item__bottom {
         background-color: rgba(#ff0036, .1);
      }
   }
}

.services-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
   grid-template-rows: repeat(3, auto-fit);
   column-gap: 30px;
   row-gap: 57px;
   padding-bottom: 6.25rem;
  
}

.services-item__top {
   display: flex;
   align-items: center;
   padding-bottom: 29px;

   &-img {
      line-height: 0;
      padding-right: 33px;
   }

   &-title {
      text-transform: uppercase;
      font-family: Raleway;
      font-size: 20px;
      color: $white-col;
      font-weight: 500;
   }
}

.services-item__bottom {
   background-color: #333333;
   padding: 31px 28px 34px 35px;

   &-body {
      color: $white-col;
   }
}